<!DOCTYPE html>
<html>
  <head>
    <title>PictureGram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
  </head>

  <body>
    <div class = "container" >
    <div class="jumbotron">

      <div id="banner">
         <h1></h1>
      </div>

    <nav class="navbar navbar-default" id="ntext">

      <div class="container-fluid" id="ntext">
        <ul class="nav navbar-nav navbar-left" id="ntext">
          <% if session[:user_id] != nil %>
            <li><a href="/pictures">Gallery</a></li>
            <li><a href="/users/<%=session[:user_id]%>">Your Profile</a></li>
          <% end %>
        </ul>

<!-- <span class="glyphicon glyphicon-user"></span>  -->
        <ul class="nav navbar-nav navbar-right" id="ntext">
          <% if session[:user_id] == nil %>
          <li><%= link_to "Signup", "/signup"%></li>
          <% end %>
          <% if logged_in? %>
          <li><%= link_to "Logout", '/logout', method: :delete%></li>
          <% else %>
          <li><%= link_to "Login", login_path%></li>
          <% end %>
        </ul>

        </div>
    </nav>
    <%= yield %>
  </body>
</html>
